<a href="https://colab.research.google.com/github/LucasPequenoSterzeck/machine-learning/blob/master/Features_mercado_financeiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
import pandas as pd

df = pd.read_excel(r'/content/EURUSD_H1.xlsx')
df

                    Time     Open     High      Low    Close  Volume
0    2021-10-07 22:00:00  1.15537  1.15554  1.15523  1.15530     900
1    2021-10-07 23:00:00  1.15530  1.15567  1.15528  1.15554     715
2    2021-10-08 00:00:00  1.15557  1.15569  1.15531  1.15542     562
3    2021-10-08 01:00:00  1.15545  1.15600  1.15541  1.15592     417
4    2021-10-08 02:00:00  1.15591  1.15596  1.15525  1.15581    2225
...                  ...      ...      ...      ...      ...     ...
8778 2023-03-03 19:00:00  1.06158  1.06251  1.06116  1.06246   21519
8779 2023-03-03 20:00:00  1.06245  1.06273  1.06198  1.06242   10835
8780 2023-03-03 21:00:00  1.06242  1.06355  1.06230  1.06345   11877
8781 2023-03-03 22:00:00  1.06344  1.06384  1.06302  1.06350   10729
8782 2023-03-03 23:00:00  1.06350  1.06350  1.06301  1.06337    3184

[8783 rows x 6 columns]

In [2]:
df.dtypes

Time      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume             int64
dtype: object

# Features a serem acrescentadas:

**MÃ©dias mÃ³veis:** SerÃ£o acrescentadas TRÃŠS mÃ©dias mÃ³veis: 
- 1Âª MÃ©dia mÃ³vel contÃªndo a mÃ©dia de 120 perÃ­odos;
- 2Âª MÃ©dia mÃ³vel contÃªndo a mÃ©dia de 60 perÃ­odos;
- 3Âª MÃ©dia mÃ³vel contÃªndo a mÃ©dia de 20 perÃ­odos.


**Analises de curva:** SerÃ£o estimados por mÃ©todos estatÃ­sticos e classificadas as direÃ§Ãµes de preÃ§o:
- 1Âº Momento contÃªndo 120 perÃ­odos; 
- 2Âº Momento contÃªndo 60 perÃ­odos;
- 3Âº Momento contÃªndo 20 perÃ­odos;
- Sendo classificados como NÃ­vel, Acima, Abaixo;

In [3]:
df

                    Time     Open     High      Low    Close  Volume
0    2021-10-07 22:00:00  1.15537  1.15554  1.15523  1.15530     900
1    2021-10-07 23:00:00  1.15530  1.15567  1.15528  1.15554     715
2    2021-10-08 00:00:00  1.15557  1.15569  1.15531  1.15542     562
3    2021-10-08 01:00:00  1.15545  1.15600  1.15541  1.15592     417
4    2021-10-08 02:00:00  1.15591  1.15596  1.15525  1.15581    2225
...                  ...      ...      ...      ...      ...     ...
8778 2023-03-03 19:00:00  1.06158  1.06251  1.06116  1.06246   21519
8779 2023-03-03 20:00:00  1.06245  1.06273  1.06198  1.06242   10835
8780 2023-03-03 21:00:00  1.06242  1.06355  1.06230  1.06345   11877
8781 2023-03-03 22:00:00  1.06344  1.06384  1.06302  1.06350   10729
8782 2023-03-03 23:00:00  1.06350  1.06350  1.06301  1.06337    3184

[8783 rows x 6 columns]

In [131]:
df['Med_120'] = df.Close.rolling(120).mean()
df['Med_60'] = df.Close.rolling(60).mean()
df['Med_20'] = df.Close.rolling(20).mean()

In [132]:
import numpy as np
import matplotlib.pyplot as plt

def crave_column(lista_de_valores):
  inicio = lista_de_valores[0]
  fim = lista_de_valores[-1]
  meio = lista_de_valores[round(len(lista_de_valores)/2)]
  segundo = lista_de_valores[round(len(lista_de_valores)/100*25)]
  terceiro = lista_de_valores[round(len(lista_de_valores)/100*75)]
  med_inicio = np.mean([inicio,segundo])
  med_fim = np.mean([terceiro,fim])
  #plt.plot([inicio,segundo,meio,terceiro,fim])
  #plt.show()
  #plt.plot(lista_de_valores)
  #plt.show()
  veredito = 'acima' if med_fim > med_inicio and med_fim > meio else 'abaixo' if med_inicio > med_fim and med_inicio > meio else 'nivel'
  return veredito

close_temp = []
for idx, row in df.iterrows():
  close_temp.append(row.Close)
  if len(close_temp) >= 120:
    # 120
    df.loc[idx, '120_'] = crave_column(close_temp)
    # 60
    df.loc[idx, '60_'] = crave_column(close_temp[60:])
    # 20
    df.loc[idx, '20_'] = crave_column(close_temp[100:])
    #
    close_temp.pop(0)

df

,Time,Open,High,Low,Close,Volume,Med_120,Med_60,Med_20,120_,60_,20_
0,2021-10-07 22:00:00,1.15537,1.15554,1.15523,1.15530,900,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-10-07 23:00:00,1.15530,1.15567,1.15528,1.15554,715,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-10-08 00:00:00,1.15557,1.15569,1.15531,1.15542,562,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-10-08 01:00:00,1.15545,1.15600,1.15541,1.15592,417,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-10-08 02:00:00,1.15591,1.15596,1.15525,1.15581,2225,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8778,2023-03-03 19:00:00,1.06158,1.06251,1.06116,1.06246,21519,1.060563,1.062891,1.061095,acima,abaixo,acima
8779,2023-03-03 20:00:00,1.06245,1.06273,1.06198,1.06242,10835,1.060629,1.062920,1.061227,nivel,abaixo,acima
8780,2023-03-03 21:00:00,1.06242,1.06355,1.06230,1.06345,11877,1.060699,1.062909,1.061408,nivel,abaixo,nivel
8781,2023-03-03 22:00:00,1.06344,1.06384,1.06302,1.06350,10729,1.060772,1.062887,1.061531,nivel,abaixo,acima
8782,2023-03-03 23:00:00,1.06350,1.06350,1.06301,1.06337,3184,1.060846,1.062872,1.061658,nivel,abaixo,acima

In [133]:
df.dropna(inplace=True)

dum_120 = pd.get_dummies(df['120_'], prefix='120')
dum_60 = pd.get_dummies(df['60_'], prefix='60')
dum_20 = pd.get_dummies(df['20_'], prefix='20')

df.drop(columns=['120_','60_','20_'], inplace=True)

df

,Time,Open,High,Low,Close,Volume,Med_120,Med_60,Med_20
119,2021-10-14 21:00:00,1.15989,1.16021,1.15957,1.15972,2965,1.156639,1.157045,1.159815
120,2021-10-14 22:00:00,1.15971,1.15991,1.15951,1.15953,1136,1.156675,1.157101,1.159798
121,2021-10-14 23:00:00,1.15953,1.15989,1.15951,1.15978,355,1.156710,1.157168,1.159839
122,2021-10-15 00:00:00,1.15978,1.15989,1.15957,1.15975,1542,1.156746,1.157243,1.159852
123,2021-10-15 01:00:00,1.15974,1.15987,1.15899,1.15903,2133,1.156772,1.157300,1.159835
...,...,...,...,...,...,...,...,...,...
8778,2023-03-03 19:00:00,1.06158,1.06251,1.06116,1.06246,21519,1.060563,1.062891,1.061095
8779,2023-03-03 20:00:00,1.06245,1.06273,1.06198,1.06242,10835,1.060629,1.062920,1.061227
8780,2023-03-03 21:00:00,1.06242,1.06355,1.06230,1.06345,11877,1.060699,1.062909,1.061408
8781,2023-03-03 22:00:00,1.06344,1.06384,1.06302,1.06350,10729,1.060772,1.062887,1.061531
8782,2023-03-03 23:00:00,1.06350,1.06350,1.06301,1.06337,3184,1.060846,1.062872,1.061658

In [140]:
df_new = pd.concat([df,dum_120,dum_60,dum_20], axis=1)

df_new.drop(columns=['Time','Volume'], inplace=True)

df_new

,Open,High,Low,Close,Med_120,Med_60,Med_20,120_abaixo,120_acima,120_nivel,60_abaixo,60_acima,60_nivel,20_abaixo,20_acima,20_nivel
119,1.15989,1.16021,1.15957,1.15972,1.156639,1.157045,1.159815,0,1,0,0,1,0,0,0,1
120,1.15971,1.15991,1.15951,1.15953,1.156675,1.157101,1.159798,0,1,0,0,1,0,0,0,1
121,1.15953,1.15989,1.15951,1.15978,1.156710,1.157168,1.159839,0,1,0,0,1,0,0,0,1
122,1.15978,1.15989,1.15957,1.15975,1.156746,1.157243,1.159852,0,1,0,0,1,0,1,0,0
123,1.15974,1.15987,1.15899,1.15903,1.156772,1.157300,1.159835,0,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8778,1.06158,1.06251,1.06116,1.06246,1.060563,1.062891,1.061095,0,1,0,1,0,0,0,1,0
8779,1.06245,1.06273,1.06198,1.06242,1.060629,1.062920,1.061227,0,0,1,1,0,0,0,1,0
8780,1.06242,1.06355,1.06230,1.06345,1.060699,1.062909,1.061408,0,0,1,1,0,0,0,0,1
8781,1.06344,1.06384,1.06302,1.06350,1.060772,1.062887,1.061531,0,0,1,1,0,0,0,1,0
8782,1.06350,1.06350,1.06301,1.06337,1.060846,1.062872,1.061658,0,0,1,1,0,0,0,1,0

In [ ]:
# Modificando variÃ¡vel Close teremos uma nova variÃ¡vel chamada Movimento
first = df_new.index[0]
for idx, row in df_new.iterrows():
  if idx != first and row.Close > rowP.Close: df_new.loc[idx, 'Movimento'] = 1
  elif idx != first and row.Close < rowP.Close: df_new.loc[idx, 'Movimento'] = 0
  rowP = row

In [146]:
df_new.dropna(inplace=True)
df_new.Movimento = df_new.Movimento.shift(-1)
df_new

,Open,High,Low,Close,Med_120,Med_60,Med_20,120_abaixo,120_acima,120_nivel,60_abaixo,60_acima,60_nivel,20_abaixo,20_acima,20_nivel,Movimento
120,1.15971,1.15991,1.15951,1.15953,1.156675,1.157101,1.159798,0,1,0,0,1,0,0,0,1,1.0
121,1.15953,1.15989,1.15951,1.15978,1.156710,1.157168,1.159839,0,1,0,0,1,0,0,0,1,0.0
122,1.15978,1.15989,1.15957,1.15975,1.156746,1.157243,1.159852,0,1,0,0,1,0,1,0,0,0.0
123,1.15974,1.15987,1.15899,1.15903,1.156772,1.157300,1.159835,0,1,0,0,1,0,1,0,0,1.0
124,1.15903,1.15946,1.15881,1.15937,1.156802,1.157387,1.159854,0,1,0,0,1,0,1,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8778,1.06158,1.06251,1.06116,1.06246,1.060563,1.062891,1.061095,0,1,0,1,0,0,0,1,0,0.0
8779,1.06245,1.06273,1.06198,1.06242,1.060629,1.062920,1.061227,0,0,1,1,0,0,0,1,0,1.0
8780,1.06242,1.06355,1.06230,1.06345,1.060699,1.062909,1.061408,0,0,1,1,0,0,0,0,1,1.0
8781,1.06344,1.06384,1.06302,1.06350,1.060772,1.062887,1.061531,0,0,1,1,0,0,0,1,0,0.0
8782,1.06350,1.06350,1.06301,1.06337,1.060846,1.062872,1.061658,0,0,1,1,0,0,0,1,0,NaN

In [147]:
df_new.dropna(inplace=True)

In [148]:
df_new.corr()

,Open,High,Low,Close,Med_120,Med_60,Med_20,120_abaixo,120_acima,120_nivel,60_abaixo,60_acima,60_nivel,20_abaixo,20_acima,20_nivel,Movimento
Open,1.000000,0.999823,0.999833,0.999691,0.989610,0.994942,0.998537,-0.012914,-0.028889,0.045529,-0.011738,-0.021564,0.036620,-0.018220,0.008320,0.011157,-0.009563
High,0.999823,1.000000,0.999724,0.999850,0.989454,0.994778,0.998390,-0.013145,-0.027935,0.044762,-0.012831,-0.019981,0.036129,-0.019596,0.010942,0.009841,-0.009723
Low,0.999833,0.999724,1.000000,0.999840,0.989553,0.994856,0.998430,-0.013279,-0.028842,0.045888,-0.011755,-0.021147,0.036187,-0.018341,0.009529,0.009982,-0.009796
Close,0.999691,0.999850,0.999840,1.000000,0.989352,0.994679,0.998296,-0.013564,-0.027786,0.045071,-0.012995,-0.019425,0.035710,-0.019726,0.012054,0.008781,-0.010446
Med_120,0.989610,0.989454,0.989553,0.989352,1.000000,0.997296,0.992530,0.053258,-0.119786,0.069229,0.069801,-0.108687,0.039616,0.035011,-0.041598,0.006289,-0.007727
Med_60,0.994942,0.994778,0.994856,0.994679,0.997296,1.000000,0.997605,0.005723,-0.073678,0.072844,0.036639,-0.086633,0.052933,0.030161,-0.040233,0.010180,-0.008308
Med_20,0.998537,0.998390,0.998430,0.998296,0.992530,0.997605,1.000000,-0.008886,-0.039221,0.052134,-0.002771,-0.039420,0.045940,0.007229,-0.025720,0.019847,-0.008538
120_abaixo,-0.012914,-0.013145,-0.013279,-0.013564,0.053258,0.005723,-0.008886,1.000000,-0.585529,-0.489584,0.172271,-0.147581,-0.033309,0.063540,-0.042530,-0.024276,0.008006
120_acima,-0.028889,-0.027935,-0.028842,-0.027786,-0.119786,-0.073678,-0.039221,-0.585529,1.000000,-0.420186,-0.541267,0.394238,0.180106,-0.145407,0.123433,0.027287,-0.012518
120_nivel,0.045529,0.044762,0.045888,0.045071,0.069229,0.072844,0.052134,-0.489584,-0.420186,1.000000,0.389360,-0.258851,-0.156441,0.085276,-0.085159,-0.002177,0.004503
60_abaixo,-0.011738,-0.012831,-0.011755,-0.012995,0.069801,0.036639,-0.002771,0.172271,-0.541267,0.389360,1.000000,-0.591116,-0.481849,0.114414,-0.103846,-0.014194,-0.005342
60_acima,-0.021564,-0.019981,-0.021147,-0.019425,-0.108687,-0.086633,-0.039420,-0.147581,0.394238,-0.258851,-0.591116,1.000000,-0.421947,-0.266468,0.239588,0.035510,-0.010009
60_nivel,0.036620,0.036129,0.036187,0.035710,0.039616,0.052933,0.045940,-0.033309,0.180106,-0.156441,-0.481849,-0.421947,1.000000,0.160879,-0.143558,-0.022623,0.016878
20_abaixo,-0.018220,-0.019596,-0.018341,-0.019726,0.035011,0.030161,0.007229,0.063540,-0.145407,0.085276,0.114414,-0.266468,0.160879,1.000000,-0.582983,-0.475555,0.012205
20_acima,0.008320,0.010942,0.009529,0.012054,-0.041598,-0.040233,-0.025720,-0.042530,0.123433,-0.085159,-0.103846,0.239588,-0.143558,-0.582983,1.000000,-0.437490,-0.016730
20_nivel,0.011157,0.009841,0.009982,0.008781,0.006289,0.010180,0.019847,-0.024276,0.027287,-0.002177,-0.014194,0.035510,-0.022623,-0.475555,-0.437490,1.000000,0.004606
Movimento,-0.009563,-0.009723,-0.009796,-0.010446,-0.007727,-0.008308,-0.008538,0.008006,-0.012518,0.004503,-0.005342,-0.010009,0.016878,0.012205,-0.016730,0.004606,1.000000

In [150]:
# Importando bibliotecas
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
import warnings
warnings.simplefilter("ignore")

In [153]:
df_new.to_excel('teste.xlsx')

In [154]:
X = df_new.drop(columns=['Movimento'], axis=1)
y = df_new['Movimento'].values
scalerS = StandardScaler().fit(X)
features_scale_S = scalerS.transform(X)

Xtrain, Xtest, ytrain, ytest=train_test_split(features_scale_S, y, test_size=0.05, random_state = 42,shuffle=False)


print('LogisticRegression')
modelLR = Pipeline([( "scaler" , StandardScaler()),("LR",LogisticRegression())])
    # pipeline.fit(X_train,y_train) # pipeline.score(X_train,y_train)
parametersLROLD = {'penalty': ['l2', 'l1', 'elasticnet',None],
    'fit_intercept': (True, False),
    'C': [0.01,0.0001],
    'tol': [0.001,0.01],
    'intercept_scaling': [0.1,1,10,100],
    'multi_class': ['auto', 'ovr', 'multinomial'],
    'solver': ['lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky', 'sag', 'saga']}

tryit = {'penalty':['l2', 'l1', 'elasticnet',None],
         'dual':(True, False),
         'tol':[0.001,0.01],
         'C':[0.001,0.01],
         'fit_intercept':(True, False),
         'intercept_scaling':[0.1,1],
         'solver':['lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky', 'sag', 'saga'],
         'max_iter':[100],
         'multi_class':['auto', 'ovr', 'multinomial'],
         'warm_start':(True, False),
         'l1_ratio':[None,0.01,0.1]}

grid_pipeline = GridSearchCV(LogisticRegression(), parametersLROLD)
grid_pipeline.fit(Xtrain, ytrain)
plr_bs = grid_pipeline.best_params_
print('Melhor configuraÃ§Ã£o: ', grid_pipeline.best_params_)
scores = cross_val_score(LogisticRegression(**plr_bs), Xtrain, ytrain, cv=5)
for n in scores:
  print('Nota: ', round(n*100),'%')
print('AcurÃ¡ria do modelo: %0.2f (+/- %0.2f)\n' % (scores.mean(), scores.std() * 2))

LogisticRegression
Melhor configuraÃ§Ã£o:  {'C': 0.0001, 'fit_intercept': True, 'intercept_scaling': 10, 'multi_class': 'multinomial', 'penalty': None, 'solver': 'sag', 'tol': 0.001}
Nota:  52 %
Nota:  51 %
Nota:  54 %
Nota:  53 %
Nota:  52 %
AcurÃ¡ria do modelo: 0.52 (+/- 0.02)